
<div class="container">
    <div class="card" style="width: 50rem;">
        <div class="card-header">
            ID : {{teamdata.id}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name : {{teamdata.name}}</li>
          <li class="list-group-item" *ngFor="let m of playerdata">Player Name : {{m.name}}</li>
          <li class="list-group-item" *ngFor="let m of playerdata">Bidding Price : {{m.biddingPrice}}</li>
        </ul>
      </div>
</div>